.title {
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(192, 192, 192);
}

.thumb {
    width: 200px;
    height: 200px;
}
.thumb img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 1px solid #0E8D94;
    border-radius: 100%;
}

.icon-social {
    font-size: 25px;
    color: #0E8D94;
    cursor: pointer;
}

.comments {
    border: 1px solid #0E8D94;
    border-radius: 5px;
    padding: 5px;
}

.comment-name {
    color: #0E8D94;
    font-weight: 600;
}

.comment-title {
    font-size: medium;
}