/* You can add global styles to this file, and also import other style files */
body{
  background-color:#e5e7ed
}

a {
  text-decoration: none;
  color: #000;
}
.error-message span {
  color: red;
  font-size: small;
}

.btn-primary {
  margin-top: 10px;
  background: #0e8d94;
  border-color: #0e8d94;
}


.alert {
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 999;
}